<div class="main">
	<p>Bem-vindo <%= @email %>!</p>

	<p>Você pode confirmar sua conta pelo link abaixo:</p>

	<p><%= link_to 'Confirmar conta', confirmation_url(@user, confirmation_token: @token) %></p>
</div>