<div class="main">
	<p>Olá <%= @user.email %>!</p>

	<p>Alguém pediu a troca da senha de sua conta. Você pode fazer isso pelo link abaixo.</p>

	<p><%= link_to 'Trocar minha senha', edit_password_url(@user, reset_password_token: @token) %></p>

	<p>Se você não pediu a troca, favor ignorar este email.</p>
	<p>Sua senha não será alterada até que você clique no link acima.</p>
</div>