<div class="main">
	<p>Olá <%= @user.email %>!</p>

	<p>Sua conta foi bloqueada por muitas tentativas de entrada sem sucesso.</p>

	<p>Clique no link abaixo para desbloquear sua conta:</p>

	<p><%= link_to 'Desbloquear minha conta', unlock_url(@user, unlock_token: @token) %></p>
</div>